.chart { margin: 5px auto; }
.node { border: 1px solid; }
.node p { font-size: 20px; line-height: 20px; height: 20px; padding: 3px; margin: 0; }
td {white-space: nowrap;}
table.variables td {font-family: 'Courier New', Courier, monospace; padding: 3px; }
input {font-family: 'Courier New', Courier, monospace}
a:link{color:inherit}
a:active{color:inherit}
a:visited{color:inherit}
a:hover{color:inherit}
div { margin: 5px; }
.code { white-space: pre; }
.toggle-content {
	display: block;
}
.toggle-content.is-hidden {
	display: none;
}